.store-box {    
    background-color: rgb(251, 251, 251);
    padding: 15px;
    margin: 20px 20px;
    border: 1px solid rgb(25, 144, 255);
    border-radius: 5px;
    width: 300px;

    .store-settings-icon {
        margin-right: -5px;
        margin-top: -5px;
        text-align: right;
        font-size: 2rem;

        ion-icon {
            &:hover {
                cursor: pointer;
            }
        }
    }


    h1 {
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: -10px;
        padding-bottom: 5px;
        text-align: center;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
    }

    h2:nth-child(3) {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    h2:nth-child(4) {
        transition: .3s;
        color: rgb(25, 144, 255);

        &:hover {
            transition: .3s;
            cursor: pointer;
            color:rgb(19, 118, 211);
        }
    }


    .store-buttons {
        width: 70%;
        font-size: 1.8rem;
        font-weight: 300;
        display: flex;
        margin: 0 auto;

        #store-edit, #store-remove {
            width: 50%;
            text-align: center;
            padding: 3px 0;
            &:hover {
                cursor: pointer;
            }
        }

        #store-edit {
            background-color: rgb(25, 144, 255);
            color: #fff;
        }

        #store-remove {
            background-color: rgb(170, 170, 170);
            color: #fff;
        }
    }
}