.items {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;

    .item-box {    
        background-color: rgb(251, 251, 251);
        padding: 15px;
        margin: 20px 20px;
        border: 1px solid rgb(25, 144, 255);
        border-radius: 5px;
        width: 300px;
    
        .edit-item-modal {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100vw;
            height: 200vh;
            background-color: rgba(0, 0, 0, 0.4);
    
            .modal-info {
                width: 40%;
                margin: 0 auto;
                margin-top: 20vh;
                display: flex;
                flex-direction: column;
                align-content: center;
                background-color: #fff;
                padding: 25px;
                border-radius: 5px;
                overflow: hidden;
    
                .edit-item-modal-title {
                    font-size: 3rem;
                    margin-bottom: 20px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid rgb(25, 144, 255);
                }
    
                #edit-item-form {
                    display: flex;
                    flex-direction: column;
    
                    input {
                        font-size: 2rem;
                        outline: none;
                        border: solid 1px #dfdfdf;
                        margin-bottom: 15px;
                    }
                }
    
                .modal-button-box {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
    
                    #item-cancel, #item-update{
                        padding: 10px 0;
                        font-size: 2rem;
                        font-weight: 300;
                        width: 50%;
    
                        &:hover {
                            cursor: pointer;
                        }
                    }
    
                    #item-cancel {
                        background-color: rgb(170, 170, 170);
                        color: #fff;
                        text-align: center;
                    }
    
                    #item-update {
                        background-color: rgb(25, 144, 255);
                        color: #fff;
                        text-align: center;
                    }
                }
            }
        }
    
        div {
            div {
                display: flex;
                flex-direction: column;
                align-content: center;
    
                .item-settings-icon {
                    margin-top: -5px;
                    font-size: 2rem;
            
                    ion-icon {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            
            
                h1 {
                    text-transform: capitalize;
                    font-size: 2.5rem;
                    font-weight: 300;
                    margin-bottom: 10px;
                    margin-top: -10px;
                    padding-bottom: 5px;
                    text-align: center;
                }
            
                h2 {
                    font-size: 1.8rem;
                    font-weight: 300;
                    text-align: center;
                    color: rgb(25, 144, 255);
                }
            
                h2:nth-child(3) { 
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
            
                a {
                    text-align: center;
                    margin: 0 auto;
                    font-size: 1.8rem;
                    text-decoration: none;
                    transition: .3s;
                    color: rgb(25, 144, 255);
                    padding: 3px 0;
            
                    &:hover {
                        transition: .3s;
                        cursor: pointer;
                        color:rgb(19, 118, 211);
                    }
                }
            
            
                .item-buttons {
                    width: 70%;
                    font-size: 1.8rem;
                    font-weight: 300;
                    display: flex;
                    flex-direction: row;
                    margin: 0 auto;
            
                    #item-edit, #item-remove {
                        width: 50%;
                        text-align: center;
                        padding: 3px 0;
                        &:hover {
                            cursor: pointer;
                        }
                    }
            
                    #item-edit {
                        background-color: rgb(25, 144, 255);
                        color: #fff;
                    }
            
                    #item-remove {
                        background-color: rgb(170, 170, 170);
                        color: #fff;
                    }
                }
            }
        }
    
    }
}